<html>

<head>
    <title> Blog
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1 class="mt-4 mb-2"><%=article.title%></h1>
        <div class="text-muted mb-4"><%= article.createdAt.toLocaleDateString() %></div>
        <a href="/" class="btn btn-secondary">All Article</a>
        <a href="/articles/edit/<%=article.id%>" class="btn btn-info">Edit</a>


        <div class="mt-4" >
            <%- article.senitizedHtml%>
        </div>
    </div>


</body>

</html>